body {
    font-family: "Playwrite IE", cursive;
    margin: 0;
    padding: 0;
    background-color: #f5f7fa;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #efb2ae, #ff6b6b);
    color: rgb(247, 247, 247);
    padding: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* TITULOS */
h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

h3 {
    color: #e6362d;
    margin-top: 20px;
}
h1, h2, h3 {
font-family: "Playwrite Irelandt";
}
body, p {

font-family: "Playwrite Ireland";
}

/* NAV */
nav ul {
    list-style-type: none;
    padding-left: 20px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* SECCIONES */
section {
    padding: 20px;
}

/* FOOTER */
footer {
    background-color: #333;
    color: rgb(246, 244, 244);
    text-align: center;
    padding: 10px 0;
}