body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f7fa;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #efb2ae, #ff6b6b);
    color: rgb(247, 247, 247);
    padding: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* TITULOS */
h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

h3 {
    color: #e6362d;
    margin-top: 20px;
}

/* NAV */
nav ul {
    list-style-type: none;
    padding-left: 20px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* seccion proyectos (by massi)*/
#proyectos{
    background-color: #64c3eb;
    color:rgb(10, 10, 10);
    padding: 20px;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Times New Roman'
}

/* SECCIONES */
#equipo {
    background-color: #f597a7;
    color:rgb(10, 10, 10);
    padding: 20px;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Times New Roman'
}


/* FOOTER */
footer {
    background-color: #333;
    color: rgb(246, 244, 244);
    text-align: center;
    padding: 10px 0;
}